body{
    min-width: 320px;
    font-size: 14px;
    color: #626262;
}
img{
    max-width: 100%;
    height: auto;
}
.slider {
    margin-top: 100px;
}

.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-top: 1px solid aqua;
    border-bottom:1px solid aqua;
    
}

.blok-1 {
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    
}

.il {
    display: flex;
    list-style: none;
}

.blok-2 {
    width: 100%;
    text-align: center;
    
}

.h2 {
    
}

.h2 {
    font-size: 64px;
	padding-top: 100px;
}

.subtitle {
    font-size: 14px;
	padding: 15px 0;
}
