.blok-magazine{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;

}
.shop-item{
	height: 350px;
	width: calc(33% - 30px - 40px);
	text-align: center;
	margin: 15px;
	padding: 20px;
	background: red;

}
.i-1{
	width: 60%;
}
.h3{
	font-size: 22px;
}
.shop-item:hover{
	transition: 0.6s;
	transform: scale(1.1);
	background: orange;
}
